.App {
  width: 136.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.search__header {
  font-size: 2.5rem;
  text-align: center;
  margin: 5rem 0;
}

.search__input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
  position: relative;
}

.search__show-more {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  width: 20rem;
  height: 3rem;
  border-radius: .5rem;
}

.search-more {
  width: 52rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 22rem;
}

.gener-select__title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

#gener-select__id {
  width: 13rem;
  font-size: 1.5rem;
  height: 3rem;
  border-radius: .5rem;
}

.search-group {
  width: 50rem;
  font-size: 2rem;
}

#search-group__Text {
  font-size: 1.5rem;
}

.search-group__input {
  font-size: 1.5rem;
}

.search {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5rem 3.5rem 0;
}

.search__button {
  font-size: 1.6rem;
  margin-top: 1.5rem;
}

.movie-block {
  width: 100%;
  height: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.movie-content {
  width: 20rem;
  height: 29rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 5rem;
  position: relative;
}

.movie-content--will-watch {
  margin-right: 3rem;
}

.movie-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e2d3b3;
  z-index: 1;
  opacity: .8;
  border-radius: 1rem;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.6) 0 -3px 8px, inset rgba(252, 255, 255, 0.7) 0 3px 8px, rgba(0, 0, 0, 0.8) 0 3px 8px -3px;
          box-shadow: inset rgba(0, 0, 0, 0.6) 0 -3px 8px, inset rgba(252, 255, 255, 0.7) 0 3px 8px, rgba(0, 0, 0, 0.8) 0 3px 8px -3px;
}

.movie-content:hover .movie-content__additional-information {
  display: block;
}

.movie-content__additional-information {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  vertical-align: center;
  color: #fff;
  background: #000000;
  border-radius: .7rem;
  opacity: .8;
  z-index: 99;
}

.movie-content__title {
  width: 20rem;
  text-align: center;
  font-size: 3.5rem;
  margin: 2rem 0;
  padding: 1.5rem;
  z-index: 99;
}

.movie-content__image {
  width: 20rem;
  height: 29rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  z-index: 99;
}

.movie-content__year,
.movie-content__gener,
.movie-content__rating {
  z-index: 99;
  font-size: 1.8rem;
}

.fff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 50rem;
  height: 93rem;
  position: absolute;
  top: -50%;
  left: -50%;
  background: white;
  border-radius: .7rem;
  padding: 4rem 1rem 0 1rem;
  z-index: 100;
}

html {
  font-size: 10px;
}

body {
  font-size: 1rem;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: repeat;
  height: 60rem;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  line-height: 3rem;
}

.sort-descending__block {
  margin-right: 2rem;
}

.sort-descending__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.sort-descending__lable {
  width: 14rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.5rem;
  margin: 0;
}

.sort-descending__select {
  width: 14rem;
  height: 3rem;
  margin-top: 1rem;
  border-radius: .5rem;
}

.sort-descending__button {
  font-size: 1.5rem;
  width: 6.8rem;
  height: 3rem;
  margin: 1rem 0 0 1rem;
}

.sort-range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sort-range__title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.sort-range__input {
  font-size: 1.5rem;
  width: 10rem;
  height: 3rem;
  padding-left: .6rem;
  margin-bottom: 1rem;
  border-radius: .5rem;
}

.sort-range__button {
  display: none;
}

.year-filter {
  margin-right: 1.5rem;
}

.modalWindow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 50rem;
  height: 93rem;
  position: absolute;
  top: -50%;
  left: -50%;
  background: white;
  border-radius: .7rem;
  padding: 4rem 1rem 0 1rem;
  z-index: 100;
}

.movie-content-modal {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 1rem;
}

.movie-content__image-modal {
  width: 22rem;
}

.movie-content__title-modal {
  width: 15rem;
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 2rem;
}

.movie-content__additional-information-modal {
  width: 22rem;
}

.movie-content__about-film-modal,
.movie-content__actors-header-modal,
.movie-content__description-header-modal {
  font-size: 1.6rem;
  font-weight: bolder;
  margin-bottom: 1rem;
}

.movie-content__country-modal,
.movie-content__producer-modal,
.movie-content__time-modal,
.movie-content__year-modal,
.movie-content__gener-modal,
.movie-content__rating-modal {
  font-size: 1.6rem;
}

.movie-content__actors-block-modal {
  margin: 3rem 0 1.5rem 0;
}

.movie-content__actors-elem {
  font-size: 1.4rem;
}

.modalWindow__button {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

.movie-content__description-modal {
  width: 100%;
}

.movie-content__description-text-modal {
  font-size: 1.6rem;
}

.will-watch-block {
  width: 100%;
  height: auto;
  text-align: left;
  margin-bottom: 3rem;
}

.movie-content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.will-watch__icon {
  width: 3rem;
  height: 4rem;
  margin: 0 2rem 1.5rem 0;
  position: relative;
}

.will-watch__link img {
  width: 3rem;
  height: 4rem;
  border-radius: .5rem;
}

.will-watch__circle {
  position: absolute;
  bottom: -.75rem;
  right: -.75rem;
  background: #f70707;
  border: .1rem solid #000000;
  border-radius: 50%;
  -webkit-box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
          box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
  height: 2.25rem;
  width: 2.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.will-watch__circle-text {
  font-size: 1.5rem;
  height: 100%;
  color: #000000;
}

.will-watch__no-films {
  font-size: 1.4rem;
  margin: 0 1rem;
}
/*# sourceMappingURL=main.css.map */