.will-watch-block {
  width: 100%;
  height: auto;
  text-align: left;
  margin-bottom: 3rem;
}

.movie-content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.will-watch__icon {
  width: 3rem;
  height: 4rem;
  margin: 0 2rem 1.5rem 0;
  position: relative;
}

.will-watch__link img {
  width: 3rem;
  height: 4rem;
  border-radius: .5rem;
}

.will-watch__circle {
  position: absolute;
  bottom: -.75rem;
  right: -.75rem;
  background: #f70707;
  border: .1rem solid #000000;
  border-radius: 50%;
  -webkit-box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
          box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
  height: 2.25rem;
  width: 2.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.will-watch__circle-text {
  font-size: 1.5rem;
  height: 100%;
  color: #000000;
}

.will-watch__no-films {
  font-size: 1.4rem;
  margin: 0 1rem;
}
/*# sourceMappingURL=willWatch.css.map */