.App
  width: 136.6rem
  display: flex
  flex-direction: column
  align-items: center
  margin: 0 auto

.search__header
  font-size: 2.5rem
  text-align: center
  margin: 5rem 0

.search__input
  width: 100%
  display: flex
  justify-content: space-between
  margin-bottom: 2rem
  position: relative

.search__show-more
  position: absolute
  top: 0
  right: 0
  font-size: 1.5rem
  width: 20rem
  height: 3rem
  border-radius: .5rem

.search-more
  width: 52rem
  display: flex
  justify-content: space-between
  margin-right: 22rem

.gener-select__title
  font-size: 1.5rem
  margin-bottom: 1.5rem

#gener-select__id
  width: 13rem
  font-size: 1.5rem
  height: 3rem
  border-radius: .5rem