html 
    font-size: 10px

body 
    font-size: 1rem
    background-image: url("../images/background.jpg")
    background-size: cover
    background-position: top
    background-repeat: repeat
    height: 60rem
    font-family: 'Lato', sans-serif
    font-size: 1rem

*, *:after, *:before 
    box-sizing: border-box
    padding: 0
    margin: 0

li 
    list-style-type: none

ul 
    margin-left: 0
    padding-left: 0

a 
    text-decoration: none
    cursor: pointer

p 
    line-height: 3rem

    