.movie-block
  width: 100%
  height: 50rem
  display: flex
  justify-content: space-between
  align-items: start
  flex-wrap: wrap

.movie-content
    width: 20rem
    height: 29rem
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-start
    margin-bottom: 5rem
    position: relative
    cursor: pointer

.movie-content--will-watch
    margin-right: 3rem

.movie-content::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: #e2d3b3
    z-index: 1
    opacity: .8
    border-radius: 1rem
    box-shadow: inset rgba(0,0,0,.6) 0 -3px 8px,
    inset rgba(252,255,255,.7) 0 3px 8px,
    rgba(0,0,0,.8) 0 3px 8px -3px

.movie-content:hover .movie-content__additional-information
    display: block
        
.movie-content__additional-information
    display: none
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    text-align: center
    vertical-align: center
    color: #fff
    background: #000000
    border-radius: .7rem
    opacity: .8
    z-index: 99

.movie-content__title
    width: 20rem
    text-align: center
    font-size: 3.5rem
    margin: 2rem 0
    padding: 1.5rem
    z-index: 99

.movie-content__image
    width: 20rem
    height: 29rem
    margin-bottom: 1rem
    border-radius: 1rem 
    z-index: 99

.movie-content__year,
.movie-content__gener,
.movie-content__rating
    z-index: 99
    font-size: 1.8rem

.fff
    display: flex
    justify-content: space-between
    align-items: start
    width: 50rem
    height: 93rem
    position: absolute
    top: -50%
    left: -50%
    background: rgb(255, 255, 255)
    border-radius: .7rem
    padding: 4rem 1rem 0 1rem
    z-index: 100