.modalWindow
    display: flex
    justify-content: space-between
    align-items: start
    width: 50rem
    height: 93rem
    position: absolute
    top: -50%
    left: -50%
    background: rgb(255, 255, 255)
    border-radius: .7rem
    padding: 4rem 1rem 0 1rem
    z-index: 100

.movie-content-modal
    width: 100%
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: start
    padding: 1rem

.movie-content__image-modal
    width: 22rem

.movie-content__title-modal
    width: 15rem
    font-size: 3rem
    font-weight: bolder
    margin-bottom: 2rem

.movie-content__additional-information-modal
    width: 22rem

.movie-content__about-film-modal,
.movie-content__actors-header-modal,
.movie-content__description-header-modal
    font-size: 1.6rem
    font-weight: bolder
    margin-bottom: 1rem

.movie-content__country-modal,
.movie-content__producer-modal,
.movie-content__time-modal,
.movie-content__year-modal,
.movie-content__gener-modal,
.movie-content__rating-modal
    font-size: 1.6rem

.movie-content__actors-block-modal
    margin: 3rem 0 1.5rem 0
    
.movie-content__actors-elem
    font-size: 1.4rem

.modalWindow__button
    position: absolute
    top: 1.5rem
    right: 1.5rem

.movie-content__description-modal
    width: 100%

.movie-content__description-text-modal
    font-size: 1.6rem






