.search-group
  width: 50rem
  font-size: 2rem

#search-group__Text
  font-size: 1.5rem

.search-group__input
  font-size: 1.5rem
  
.search
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  margin: 0 5rem 3.5rem 0

.search__button
  font-size: 1.6rem
  margin-top: 1.5rem
