.sort-descending__block
    margin-right: 2rem
    
.sort-descending__form
    display: flex
    align-items: flex-end

.sort-descending__lable
    width: 14rem
    display: flex
    flex-direction: column
    font-size: 1.5rem
    margin: 0

.sort-descending__select
    width: 14rem
    height: 3rem
    margin-top: 1rem
    border-radius: .5rem

.sort-descending__button
    font-size: 1.5rem
    width: 6.8rem
    height: 3rem
    margin: 1rem 0 0 1rem

.sort-range
    display: flex
    flex-direction: column
    align-items: center

.sort-range__title
    font-size: 1.5rem
    margin-bottom: 1.5rem

.sort-range__input
    font-size: 1.5rem
    width: 10rem
    height: 3rem
    padding-left: .6rem
    margin-bottom: 1rem
    border-radius: .5rem

.sort-range__button
    display: none

.year-filter
    margin-right: 1.5rem